<h3>11.1</h3> Create a file called zoo.py. In it, define a function called hours() that prints the string 'Open 9-5 daily'. Then, use the interactive interpreter to import the zoo module and call its hours() function.

In [1]:
import zoo

zoo.hours()

Open 9-5 daily

<h3>11.2</h3> In the interactive interpreter, import the zoo module as menagerie and call its hours() function.

In [2]:
import zoo as menagerie

menagerie.hours()

Open 9-5 daily

<h3>16.8</h3> Use the sqlalchemy module to connect to the sqlite3 database books.db that you just made in exercise 16.4. As in 16.6, select and print the title column from the book table in alphabetical order.

16.3

In [3]:
text = '''title,author,year
The Weirdstone of Brisingamen,Alan Garner,1960
Perdido Street Station,China Mi√©ville,2000
Thud!,Terry Pratchett,2005
The Spellman Files,Lisa Lutz,2007
Small Gods,Terry Pratchett,1992
'''
with open('books2.csv', 'wt') as outfile:
    outfile.write(text)

16.4

In [4]:
import sqlite3
db = sqlite3.connect('books.db')
curs = db.cursor()
curs.execute('''CREATE TABLE book (title text, author text, year int)''')

In [5]:
db.commit()

16.5

In [6]:
import csv
import sqlite3
ins_str = 'insert into book values(?, ?, ?)'
with open('books2.csv', 'rt') as infile:
  books = csv.DictReader(infile)
  for book in books:
    curs.execute(ins_str, (book['title'], book['author'], book['year']))

In [7]:
db.commit()

16.8

In [8]:
import sqlalchemy as sa
conn = sa.create_engine('sqlite:///books.db')
sql = 'SELECT title FROM book ORDER BY title ASC'
rows = conn.execute(sql)
for row in rows:
    print(row)

('Perdido Street Station',)
('Small Gods',)
('The Spellman Files',)
('The Weirdstone of Brisingamen',)
('Thud!',)